# region: Mac things ---------------------------------------------------
.DS_Store

# region: JetBrains things ---------------------------------------------
.idea

# region: VSCode things ------------------------------------------------

# region: vim things ---------------------------------------------------
.vim/*

build
dist
# region: yarn2 things -------------------------------------------------
node_modules/
.yarn/*
!.yarn/plugins
!.yarn/releases